@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

:root {
    /* font-size */
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-15: 15px;
    --fs-lg: 16px;
    --fs-xl: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 22px;
    --fs-4xl: 25px;
    --fs-5xl: 32px;
    --fs-6xl: 38px;
    --fs-7xl: 44px;
    --fs-8xl: 48px;
    /* color */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-FBFDFF: #FBFDFF;
    --color-0389FF: #0389FF;
}

.fs-9 {
    font-size: var(--fs-9);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-11 {
    font-size: var(--fs-11);
}

.fs-12 {
    font-size: var(--fs-sm);
}

.fs-14 {
    font-size: var(--fs-base);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-16 {
    font-size: var(--fs-lg);
}

.fs-18 {
    font-size: var(--fs-xl);
}

.fs-20 {
    font-size: var(--fs-2xl);
}

.fs-32 {
    font-size: var(--fs-5xl);
}

.fs-44 {
    font-size: var(--fs-7xl);
}

.fs-48 {
    font-size: var(--fs-8xl);
}

.color-white {
    color: var(--color-white);
}

.color-blue {
    color: var(--color-0389FF);
}

.color-FBFDFF {
    color: var(--color-FBFDFF);
}

.bg-color {
    background: #020D15;
}

.bg-blue {
    background: var(--color-0389FF);
}

.w-fit {
    width: fit-content;
}

.radius-4 {
    border-radius: 4px;
}

.section-1 {
    background-image: url(../image/img/t61.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.menu {
    border-bottom: 1px solid #FBFDFF33;
    background: #030A14;
}

.plus-Sans {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.text-1 {
    font-weight: 300;
    line-height: 24.2px;
}

.text-2 {
    font-weight: 400;
    line-height: 18.9px;
}

.text-3 {
    font-weight: 500;
    line-height: 55.44px;
}

.text-4 {
    font-weight: 600;
    line-height: 27.2px;
}

.text-5 {
    font-weight: 700;
    line-height: 60.48px;
}

.btn-try {
    color: var(--color-white);
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border: none;
    width: 126px;
    height: 53px;
    border-radius: 40px;
    transition: all 300ms linear;
}

.btn-try:hover,
.btn-req:hover,
.btn-watch:hover {
    background: var(--color-white);
    color: #0069E3;
    box-shadow: 0px 0px 12px var(--color-white);
}

.list-text {
    color: #CACED2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.list-text::after {
    content: '';
    position: absolute;
    bottom: -5px;
}

.menu-list {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    right: -100%;
    background: #0069E3;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms linear;
    z-index: 10 !important;
}

.z-10 {
    z-index: 10;
}

.showlist {
    right: 0%;
}

.hb {
    width: 30px;
    margin: 0 auto;
    display: block;
}

.menu-icon {
    z-index: 15;
}

.blue-line {
    width: 109.3px;
    height: 2px;
    background: #0389FF;
}

.btn-req {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    transition: all 300ms ease-in-out;
    border: none;
    width: 178px;
    height: 53px;
    border-radius: 40px;
    text-transform: capitalize;
}

.mt-84 {
    margin-top: 84px;
}

.bottom-20 {
    bottom: -20%;
}

.mt-24 {
    margin-top: 24px;
}

.slider-image {
    filter: grayscale(100%);
    transition: all 200ms linear;
}

.slider-image:hover {
    filter: grayscale(0%);
}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-watch {
    border: none;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    width: 213px;
    height: 53px;
    border-radius: 40px;
    transition: all 300ms ease-out;
}

.clock1 {
    background: #0389FF1A;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    display: none;
    place-items: center;
    transition: 400ms ease-in-out;
}

.section3-heading {
    background: #0389FF1F;
    border-radius: 10px;
    padding: 15px 25px;
    transition: 400ms ease-in-out;
}

.max-w-474 {
    max-width: 474px;
}

.text-hide {
    display: none;
    transition: 400ms ease-in-out;
    opacity: 70%;
}

.heading3-text {
    line-height: 30px;
}

.active1 {
    .clock1 {
        display: grid;
    }

    .heading3-text {
        color: var(--color-0389FF);
    }

    .text-hide {
        display: flex;
    }
}

.mt-10 {
    margin-top: 10px;
}

.top-20 {
    top: 20%;
}

.section4-heading {
    background: #0389FF1F;
    height: 80px;
    padding: 0px 16px 0px 16px;
    border-radius: 10px;
}

.slider-box1 {
    background: #0389FF1F;
    border-radius: 20px;
    margin: 10px;
}

.text-italic {
    font-style: italic;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
    background: #E3E4E5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    transition: all 300ms linear;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active {
    opacity: 100%;
    background: var(--color-0389FF);
    width: 53px;
    height: 10px;
    border-radius: 28px;
    z-index: 1;
}

.slider1 .slick-slide:not(.slick-current) {
    opacity: 50%;
}

.dotted-border {
    border: 1px dotted #0389FF
}

.btn-add {
    width: 129px;
    height: 21px;
    border-radius: 44px;
}

.border-r-5 {
    border-radius: 5px;
}

.card1 {
    background: #0389FF1F;
    border-radius: 15px;
    padding: 16px;
    height: 100%;
    width: 100%;
    max-width: 231px;
    position: relative;
}

.card2 {
    background: #00000054;
    border: 1px solid #FFFFFF1A;
    padding: 14px;
    border-radius: 22px;
    height: 100%;
    width: 100%;
}

.plus1 {
    background: #0000001A;
    border: 1px solid #0389FF33;
    width: 40px;
    height: 34px;
    border-radius: 103px;
    place-items: center;
    transform: translate(-50%, -50%);
    top: 0px;
    right: -39px;
}

.arrow1 {
    display: none;
}

.z1 {
    z-index: -1;
}

.sec8-heading {
    border-bottom: 1px solid #27384B;
    border-right: 1px solid #27384B;
}

.tick1 {
    background: #0389FF1A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    place-items: center;
}

.btn-sel {
    border: 1px solid #FBFDFF;
    color: var(--color-FBFDFF);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    width: 115px;
    height: 53px;
    background: transparent;
    border-radius: 40px;
    opacity: 70%;
    transition: all 300ms linear;
    text-transform: capitalize;
}

.btn-sel:hover {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 0px 32px #2746ED80;
    border: 1px solid transparent;
    opacity: 100%;
}

.hover-img {
    display: none;
}

.hover1:hover {
    .hover-img {
        display: flex;
    }

    .hover-text {
        color: var(--color-0389FF);
    }
}


@media (min-width:576px) {

    .line1,
    .line2,
    .line3 {
        border-left: 1px solid #273139;
        height: 100%;
        width: 2px;
        top: 0%;
    }

    .heading3-text {
        line-height: 55px;
    }

    .line2 {
        left: 50%;
    }
}

@media (min-width:768px) {
    .arrow1 {
        top: 50%;
        right: -23%;
        transform: translate(50%, -50%);
        display: flex;
    }
}

@media (min-width:992px) {
    .menu-list {
        position: relative;
        top: 0%;
        width: fit-content;
        height: fit-content;
        right: 0%;
        background: transparent;
        flex-direction: row;
        justify-content: center;
    }

    .menu-icon {
        display: none;
    }

    .arrow1 {
        right: -50%;
    }

    .section4-heading {
        max-width: 400px;
    }

    .line2 {
        left: auto;
    }

    .line2,
    .line-center {
        width: 100%;
        height: 2px;
        border-bottom: 1px solid #273139;
        top: 35%;
    }

    .start-lg-33 {
        left: 33.33%;
    }

    .end-lg-31 {
        right: 31%;
    }

    .line-center {
        bottom: 30%;
        top: auto;
    }

    .line8-1,
    .line8-2 {
        border-left: 1px solid #273A50;
        height: 100%;
        width: 2px;
    }

    .line8-1 {
        left: 33.33%;
    }

    .line8-2 {
        right: 31%;
    }

    .line8-3 {
        border-bottom: 1px solid #273A50;
        width: 100%;
        height: 2px;
        top: 140px;
    }
}

@media (min-width:1200px) {
    .arrow1 {
        right: -20px;
    }

    .line1,
    .line2,
    .line3 {
        border-left: 1px solid #273139;
        height: 100%;
        width: 2px;
        top: 0%;
        border-bottom: none;
    }

    .start-xl-25 {
        left: 25%;
    }

    .start-xl-50 {
        left: 50%;
    }

    .end-xl-23 {
        right: 23%;
    }

    .line-center {
        bottom: 48%;
        top: auto;
    }
}